# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/QT/TekAutoTest/Library
!tkVisa32.lib
!Visa32.lib
!visa64.lib
!tkVisa64.lib

# Executables
*.exe
*.out
*.app

/QT/TekAutoTest/GeneratedFiles
/QT/TekAutoTest/release
/QT/TekAutoTest/x64
/QT/.vs
/QT/TekAutoTest/debug
/QT/TekAutoTest/.vs
/VisaSamples
*.user
.qmake.stash

